.form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  padding: 20px 0 30px;
  position: relative;
}

.button {
  display: flex;
  padding: 4px;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: inherit;
  align-items: center;
  position: absolute;
  top: 28px;
  right: 450px;
}

.form input {
  border: none;
  border-bottom: 1px solid lightgray;
  background-color: inherit;
  width: 320px;
  padding: 10px 42px 10px 15px;
  outline: none;
}

.button svg {
  color: rgb(70, 120, 245);
}
